section {
  &.footer-section {
    width: 100%;
    max-width: 417px;
    padding: 0 50px;
    margin: auto;

    @media @tablet {
      max-width: none;
      width: 100%;
      padding: 0 10px;
    }
    @media @desk {
      width: 820px;
      margin: 0;
      padding: 0 130px;
    }
  }
}
