.datasets {
  @media @phone {
    padding-top: 20px;
  }
  .caption {
    overflow: auto;
    margin-top: 10px;
    h3 {
      display: inline-block;
    }
    .glyphicon {
      cursor: pointer;
      padding-right: 10px;
      font-size: 16px;
      &:hover {
        color: @lighter-color;
      }
    }
  }
  .flipper {
    margin: auto;
    transition: 0.6s;
    width: 285px;
  	transform-style: preserve-3d;
  	position: relative;
    border-radius: 4px;
    .glyphicon-check {
      display: none;
      box-shadow: 0 1px 15px #666;
    }

    &.card-hidden {
      transform: rotateY(180deg);
      width: 100%;
      margin-bottom: 20px;
      span {
        display: none;
      }
    }
  }
  input[type="radio"] {
    display: none;
    &:checked {
      & ~ label {
        .card-front,
        .card-back {
          box-shadow: 3px 3px 15px #666;
        }
        .glyphicon-check {
          display: block;
          left: -7px;
          top: -13px;
          position: absolute;
          width: 35px;
          height: 35px;
          z-index: 11;
          background: #00aa8d;
          border-radius: 50%;
          &::before {
            content: "\e013";
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            font-size: 15px;
          }
        }
      }
    }
  }

  label {
    &.dataset {
      display: block;
      margin: auto;
    }
  }

  .thumbnail {
    cursor: pointer;
    height: 100%;
    width: 100%;
  	// position: absolute;
  	top: 0;
  	left: 0;
    transition: 0.6s;
  }
}

.slider-group {
  margin-top: 20px;
  .slider-handle {
    display: inline-block;
    -webkit-appearance: none;
    height: 10px;
    border-radius: 5px;
    background: #d7dcdf;
    outline: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    width: ~"calc(100% - (73px))";

    @media (min-width: @screen-sm-min) {
      width: ~"calc(400px - (73px))";
    }

    &::-webkit-slider-thumb {
      border-radius: 50%;
      -webkit-appearance: none;
      width: 20px;
      height: 20px;
      background: @lighter-color;
      background: -moz-linear-gradient(top, @lighter-color 0%, @darker-color 100%);
      background: -webkit-linear-gradient(top, @lighter-color 0%, @darker-color 100%);
    }
  }

  output {
    display: inline-block;
    position: relative;
    width: 60px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: @lighter-color;
    background: -moz-linear-gradient(top, @lighter-color 0%, @darker-color 100%);
    background: -webkit-linear-gradient(top, @lighter-color 0%, @darker-color 100%);
    padding: 5px 10px;
    margin-left: 8px;
    &::after {
      position: absolute;
      top: 8px;
      left: -7px;
      width: 0;
      height: 0;
      border-top: 7px solid transparent;
      border-right: 7px solid #00977f;
      border-bottom: 7px solid transparent;
      content: '';
    }
  }
}
