#result-accuracy {
  div {
    text-align: center;
    margin: 80px auto;
    background: #f5fffe;
background: -moz-linear-gradient(-45deg, #f5fffe 0%, #caf1f2 100%, #8ecbde 100%, #caf1f2 101%);
background: -webkit-linear-gradient(-45deg, #f5fffe 0%,#caf1f2 100%,#8ecbde 100%,#caf1f2 101%);
    width: 380px;
    padding: 30px 0;
    border-radius: 10px;
    box-shadow: 0px 1px 12px 0px #cbf2f3;

    .accuracy-title {
      font-size: 50px;
    }

    .accuracy-value {
      margin-top: 15px;
      font-size: 30px;
    }
  }
}
