html, body {
  overflow: hidden;
}

h1 {
  font-size: 26px;

  @media (min-width: @screen-sm-min) {
    font-size: 30px;
  }
}

h2 {
  font-size: 20px;

  @media (min-width: @screen-sm-min) {
    font-size: 24px;
  }
}

h3 {
  font-size: 14px;

  @media (min-width: @screen-sm-min) {
    font-size: 18px;
  }
}

h4 {
  font-size: 12px;

  @media (min-width: @screen-sm-min) {
    font-size: 16px;
  }
}

h5 {
  font-size: 10px;

  @media (min-width: @screen-sm-min) {
    font-size: 14px;
  }
}

h6 {
  font-size: 8px;

  @media (min-width: @screen-sm-min) {
    font-size: 12px;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}

p {
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

a {
  color: #ff7f50;
  text-decoration: none;
  &:hover {
    color: #ff7f50;

    text-decoration: none;
  }
}

thead {
  font-size: 14px;
}

tbody {
  font-size: 14px;
}

th, td {
  line-height: 16px !important;
}

.text-color-hydra-lighter {
  color: @lighter-color;
}

.container-fluid {
  max-width: 1430px;
}

.without-margin {
  margin-top: 0px !important;
  margin-right: 0px !important;
  margin-bottom: 0px !important;
  margin-left: 0px !important;
}

.without-border {
  border: none !important;
  border-radius: 0px !important;
}

.without-padding {
  padding-top: 0px !important;
  padding-right: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
}

.relative {
  position: relative;
}

.content {
  padding-right: 15px;
  padding-left: 15px;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.panel-group {
  margin-bottom: 0px;
}

#mq-detector {
  visibility: hidden;
}

/*
 *  scroll bar default
 */

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: @darker-color;
}

#header-container {
  -webkit-box-shadow: 0 0px 30px -6px black;
  -moz-box-shadow: 0 0px 30px -6px black;
  box-shadow: 0 0px 30px -6px black;

  top: 0px;
  left: 0px;
  width: 100%;

  height: 97px;
  background-color: #424242;

  margin-bottom: 26px;

  .navbar {
    height: 80px;
    background-color: #424242;

    a {
      color: @white-color;
    }

    @media (min-width: @screen-sm-min) {
      position: relative;
    }

    .navbar-header {

      @media (min-width: @screen-sm-min) {
        position: absolute;
        left: 50%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }

      .navbar-brand {
        width: 195px;
      }

    }

  }

}

#content-container {

  .sidebar {

    .menu {
      border: 2px solid @gray-color;
      border-radius: 5px;

      li {
        margin-top: 0px;
        margin-left: 0px;

        &.active {
          background-color: @darker-color;

          a {
            color: @white-color;

            &:hover {
              background-color: @lighter-color;
            }
          }
        }

        & + li {
          border-top: 1px solid #dddddd;
        }

        a {
          color: @text-color;
        }

      }
    }
  }

  #step-content-container {
    height: calc(~"100vh - 184px");
    min-height: calc(~"100vh - 184px");
    overflow-y: scroll;
    padding-bottom: 70px;

    @media @phone {
      height: 64vh;
      min-height: inherit;
    }
  }
}

#step-content-container {
  position: relative;

  .button-left-container {
    position: absolute;
    left: 15px;
    @media @phone {
      display: none;
    }
  }

  .button-left-container-mobile {
    position: absolute;
    left: -15px;
    display: none;
    @media @phone {
      display: block;
    }
  }

  .button-right-container {
    position: absolute;
    right: 65px;
    @media @phone {
      display: none;
    }
  }

  .button-right-container-mobile {
    position: absolute;
    right: ~"calc(50% - 6px)";
    display: none;
    .floating-button {
      &:after {
        height: 20px;
        color: #fff;
        background-color: #fff;
        width: 2px;
        content: '';
        display: block;
        position: absolute;
        left: -1px;
        bottom: 15px;
      }
    }
    @media @phone {
      display: block;
    }
  }

  .floating-button {
    font-weight: bold;
    position: fixed;
    bottom: 20px;
    background-color: #ff7f50;
    color: @white-color;
    border-radius: 25px;
    height: 50px;
    border: none;
    opacity: 0.5;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    z-index: 999;

    @media @phone {
      width: 50%;
      border-radius: 0;
      bottom: 0;
    }

    &:hover {
      opacity: 1;
    }

    &.btn:focus,
    &.btn:active:focus {
      outline: none;
    }

    span {
      &.btn:focus,
      &.btn:active:focus {
        outline: none;
      }
    }
  }
}

.breadcrumb-container {
  height: 32px;

  .breadcrumb {
    background-color: @lighter-color;
    padding: 6px 15px;
    margin-bottom: 0px;

    li {
      font-size: 12px;
      text-transform: capitalize;

      & + li:before {
        color: #555555;
        content: "/ ";
        padding: 0 5px;
      }

      & + li:last-child:before {
        color: @white-color;
        content: "/ ";
        padding: 0 5px;
      }

      a {
        color: @text-color;
      }

      &.active {
        color: @white-color;
      }
    }
  }
}

#tutorial,
#exercises {
  h2 {
    border-bottom: 1px solid #cccccc;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  .button-left-container {
    position: absolute;
    left: 15px;
    @media @phone {
      display: none;
    }
  }

  .button-left-container-mobile {
    position: absolute;
    left: 0;
    display: none;
    @media @phone {
      display: block;
    }
  }

  .button-right-container {
    position: absolute;
    right: 65px;
    @media @phone {
      display: none;
    }
  }

  .button-right-container-mobile {
    position: absolute;
    right: 50%;
    display: none;
    .floating-button {
      &:after {
        height: 20px;
        color: #fff;
        background-color: #fff;
        width: 2px;
        content: '';
        display: block;
        position: absolute;
        left: -1px;
        bottom: 15px;
      }
    }
    @media @phone {
      display: block;
    }
  }
  .floating-button {
    font-weight: bold;
    position: fixed;
    bottom: 20px;
    background-color: #ff7f50;
    color: @white-color;
    border-radius: 25px;
    height: 50px;
    border: none;
    opacity: 0.5;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    z-index: 999;

    @media @phone {
      width: 50%;
      border-radius: 0;
      bottom: 0;
    }

    &:hover {
      opacity: 1;
    }

    &.btn:focus,
    &.btn:active:focus {
      outline: none;
    }

    span {
      &.btn:focus,
      &.btn:active:focus {
        outline: none;
      }
    }
  }
}

#step-two-content {
  .block {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.animate-show-hide.ng-hide {
  opacity: 0;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
  transition: all linear 0.5s;
}

.cg-notify-message {
    position:fixed;
    top:0px;
    z-index: 9999;
    max-width:400px;
    text-align: center;

    padding: 15px;
    border-radius: 4px;

    -webkit-transition: top 0.5s ease-out,opacity 0.2s ease-out;
    -moz-transition: top 0.5s ease-out,opacity 0.2s ease-out;
    -o-transition: top 0.5s ease-out,opacity 0.2s ease-out;
    transition: top 0.5s ease-out,opacity 0.2s ease-out;

    visibility:hidden;

    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.cg-notify-message-center {
    left:50%;
}

.cg-notify-message-left {
    left:15px;
}

.cg-notify-message-right {
    right:15px;
}

.cg-notify-message a {
    font-weight:bold;
    color:inherit;
}

.cg-notify-message a:hover {
    color:inherit;
}

.cg-notify-close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;

    position: absolute;
    top: 0px;
    right: 3px;
    line-height: 15px;
}

.cg-notify-close:hover, .cg-notify-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5;
}

.cg-notify-sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

#laboratory-content {
  @media (min-width: @screen-sm-min) {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.custom-navbar {

  .navbar-header {
    .navbar-toggle {
      margin-top: 23px;
    }
  }

  .hydramaze-mobile-menu {
    background-color: rgba(0, 137, 117, 0.95);
    position: absolute;
    width: 100%;
    z-index: 999;
    border: 1px solid #424242;
    color: white;

    @media (min-width: @screen-sm-min) {
      display: none !important;
    }

    ul {
      margin: 0px;
      margin-left: -15px;
      margin-right: -15px;

      li {
        border-bottom: 1px solid #424242;
        border-radius: 0px;

        &:last-child {
          border-bottom: none;
        }

        .fa {
          margin-right: 5px;
        }

        a {
          &:active {
            box-shadow: none;
          }
        }
      }
    }

  }
}

#laboratory-tpl,
#default-tpl {
  // Main menu custom style
  #main-menu {

    .home {
      body.home & {
        color: #ff7f50;
        .fa:before {
          font-size: 60px;
        }
        &:hover {
          color: #ff7f50 !important;
        }
        span {
          display: none;
        }
      }
    }

    .environment-configuration {
      body.environment-configuration & {
        color: #ff7f50;
        .fa:before {
          font-size: 60px;
        }
        &:hover {
          color: #ff7f50 !important;
        }
        span {
          display: none;
        }
      }
    }

    .laboratory-exercises {
      body.laboratory-exercises & {
        color: #ff7f50;
        .fa:before {
          font-size: 60px;
        }
        &:hover {
          color: #ff7f50 !important;
        }
        span {
          display: none;
        }
      }
    }

    .laboratory-tutorial {
      body.laboratory-tutorial & {
        color: #ff7f50;
        .fa:before {
          font-size: 60px;
        }
        &:hover {
          color: #ff7f50 !important;
        }
        span {
          display: none;
        }
      }
    }

    .contributors {
      body.contributors & {
        color: #ff7f50;
        .fa:before {
          font-size: 60px;
        }
        &:hover {
          color: #ff7f50 !important;
        }
        span {
          display: none;
        }
      }
    }

    .about-the-project {
      body.about-the-project & {
        color: #ff7f50;
        .fa:before {
          font-size: 60px;
        }
        &:hover {
          color: #ff7f50 !important;
        }
        span {
          display: none;
        }
      }
    }

    .main-menu-item {
      color: #00aa8d;
      margin-bottom: 20px;

      .description {
        left: 50%;
        top: 50%;
        transform: translateY(-50%);
        font-size: 20px;
        color: #ffffff;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        z-index: 1000;
        background-color: #424242;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 4px;
      }

      .fa:before {

      }

      &:hover {
        &.main-menu-item {
          color: #bafff5 !important;
        }
        .fa:before {

        }
        .description {
          left: 100%;
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}

#homepage {

  .homepage-hero-module {
      border-right: none;
      border-left: none;
      position: relative;

  }
  .no-video .video-container video,
  .touch .video-container video {
      display: none;
  }
  .no-video .video-container .poster,
  .touch .video-container .poster {
      display: block !important;
  }
  .video-container {
      position: relative;
      bottom: 0%;
      left: 0%;
      height: 100%;
      width: 100%;
      overflow: hidden;
      background: #000;
  }
  .video-container .poster img {
      width: 100%;
      bottom: 0;
      position: absolute;
  }
  .video-container .filter {
      z-index: 100;
      position: absolute;
      background: rgba(0, 0, 0, 0.4);
      width: 100%;
  }
  .video-container video {
      position: absolute;
      z-index: 0;
      bottom: 0;
  }
  .video-container video.fillWidth {
      width: 100%;
  }

  .overlay {
      position: absolute;
      top: 50%;
      z-index: 10;
      transform: translateY(-50%);
      width: 100%;
      text-align: -webkit-center;
  }

  .overlay-top-center {
    position: absolute;
    top: 40px;
    left: 0px;
    z-index: 1;
    width: 100%;
    text-align: center;
  }

  .home-title {
    font-size: 42px;
    color: white;

    .heart {
      font-size: 20px;

      .fa.fa-heart {
        &:before {
          color: red;
        }
      }
    }
  }

  .logo {
    width: 250px;
  }

  .overlay-bottom-right {
      position: absolute;
      bottom: 0px;
      right: 10px;
      z-index: 10;
      text-align: right;
  }

  // Main menu custom style
  #main-menu {
    .main-menu-item {
      color: #00aa8d;

      .description {
        left: 50%;
        transform: translateX(-50%);
        bottom: -90px;
        font-size: 20px;
        color: white;
        opacity: 0;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
      }

      .fa:before {
        font-size: 120px;
      }

      &:hover {
        &.main-menu-item {
          color: #bafff5 !important;
        }
        .fa:before {
          font-size: 150px;
        }
        .description {
          opacity: 1;
          bottom: -30px;
        }
      }

      &.home {
        display: none;
      }
    }
  }

}

#main-menu {
  a {
    color: #00aa8d;
    position: relative;
    box-shadow: none;
    outline: none;

    .description {
      position: absolute;
      font-size: 20px;
      color: white;
    }
  }

  .orientation-vertical & {
      .btn {
          display: block;
          width: 100%;
      }
      a {
      padding: 0px;
      .fa:before {
          font-size: 40px;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          -ms-transition: all 0.3s ease;
      }
      &:hover {
        &.main-menu-item {
          color: #aa0000 !important;
        }
        .fa:before {
          font-size: 60px;
        }
      }
    }
  }

  .orientation-horizontal & {
    a {
      .fa:before {
          font-size: 40px;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          -ms-transition: all 0.3s ease;
      }
      &:hover {
        &.main-menu-item {
          color: #8cffee !important;
        }
        .fa:before {
          font-size: 60px;
        }
      }
    }
  }
}

#loading-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  top: 0px;
  left: 0px;
  z-index: 999;
  .fa {
    &:before {
      color: #ff7f50;
    }
  }
}

.center-vertical-horizontal {
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.disable-scroll {
  height: 100% !important;
  overflow: hidden !important;
}

#stepper {
  margin-top: 10px;

  .steps-list {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: table;
    table-layout: fixed;
    .steps-item {
      position: relative;
      display: table-cell;
      cursor: not-allowed;
      // @media @phone {
      //   display: none;
      // }
      &.allowed {
        cursor: pointer;

        &:hover {
          hr {
            width: 100%;
          }
        }
      }

      hr {
        margin-top: 10px;
        margin-bottom: 0px;
        width: 0px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
      }

      p {
        text-align: center;
        position: relative;
        line-height: 30px;
        margin-top: 0px;
        margin-bottom: 0px;
        border-radius: 15px;
        padding-left: 30px;
        white-space: nowrap;
        overflow: hidden;
        width: 181px;
      }
      span {
        position: absolute;
        left: 0px;
        height: 30px;
        width: 30px;
        background-color: #dddddd;
        border-radius: 50%;
        text-align: center;
        line-height: 30px;
        color: white;
      }
      &.step-active {
        cursor: pointer;
        p {
          color: #00aa8d;
          font-weight: bold;
          span {
            background-color: #00aa8d;
          }
        }
        hr {
          width: 100%;
          border-top-color: #00aa8d;
        }
      }
      // &.mobile {
      //   width: 25%;
      //   p {
      //     height: 30px;
      //     width: 30px;
      //     padding: 0;
      //   }
      //   @media @phone {
      //     display: inline-block;
      //   }
      //   @media @tablet {
      //     display: none;
      //   }
      // }
    }
  }
}

#step-content-container {
  margin-top: 10px;

  #loading-container {
    height: calc(~"100vh - 184px");
  }

}

#main-step-content,
#stepper {
  @media (min-width: @screen-sm-min) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

#fork-me-on-github {
  display: none;
  z-index: 999;
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  height: 108px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  &:hover,
  .home & {
    height: 149px;
  }
  @media (min-width: @screen-sm-min) {
    display: block;
  }
}

.environment-configuration-section {
  margin-bottom: 20px;

  h3 {
    font-style: italic;
  }

  ul {
    padding-left: 25px;
  }
}

.code-line-container {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

.code-line-command {
  font-family: monospace;
  color: white;
  background-color: black;
  padding: 5px;
  font-size: 16px;

  &:before {
    content:"$ ";
  }

  &:after {
    content:"_";
    opacity: 0;
    animation: cursor 1s infinite;
  }

  @keyframes cursor {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

}

#default-tpl {
  #default-content {
    padding-bottom: 70px;

    #environment-configuration {
      overflow-y: scroll;
      height: calc(~"100vh - 153px");
    }
  }

  .page-content {
    margin-left: 10px;
    margin-top: 20px;
    line-height: 22px;
    margin-right: 20px;

    h2, h3, h4, h5, h6 {
      margin-bottom: 15px;
    }

    a {
      &:hover {
        font-weight: bold;
      }
    }

  }

  #footer-container {
    bottom: 0px;
    position: fixed;
    width: 100%;
    background-color: #424242;
    height: 30px;

    p {
      line-height: 30px;
      vertical-align: middle;
      color: @white-color;
      text-align: center;
    }

    a {
      padding: 0px;
      .fa:before {
        color: #00aa8d;
      }
    }

  }
}

#contributor-page-content {
  position: relative;
  min-height: calc(~"100vh - 276px");
}

#contributors {
  #contributors-container {
    margin-top: 30px;

    .contributor-card {
      text-align: center;
      padding: 25px;

      .contributor-image {
        border-radius: 50%;
        height: 150px;
        width: 150px;
      }

      .contributor-alias {
        text-align: center;
        font-size: 18px;
      }
    }
  }
}

.references-dialog {
  width: 100%;
  padding: 20px;
  margin: 0px;

  @media (min-width: @screen-sm-min) {
    width: 75%;
    padding: 0px;
    margin: 30px auto;
  }

  .modal-body {
    max-height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;

    .modal-section-title {
      margin-bottom: 10px;
      color: #008975;
      font-weight: bold;
    }

    .video-container {
      width: 100%;
    }
  }
}
