<div id="homepage" class="start page">
  
  <div class="homepage-hero-module">
    <div class="video-container">
        <video autoplay loop >
            <source src="/assets/img/slow_typer.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="/assets/img/slow_typer.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
        <div class="poster hidden">
            <img src="/assets/img/slow_typer.jpg" alt="">
        </div>
    </div>
  </div>

  <div class="homepage-content">

    <div class="overlay-bottom-right logo">
      <img src="/assets/img/logo-hydramaze-light.png" class="img-responsive">
    </div>

    <div class="orientation-horizontal overlay">
      <main-menu-block-directive></main-menu-block-directive>
    </div>

    <div class="overlay-top-center">
      <p class="home-title">An A.I. learning tool, let’s try to play it? ;)<br>
        <span class="heart">Made with <i class="fa fa-heart"></i> for you</span>
      </p>
    </div>

  </div>

</div>
