<div id="exercise-{{exerciseNumber}}" class="exercise">
  <p>{{problemIntroduction}}<br>

  </p>
  <div data-datacamp-exercise data-lang="python">
    <code data-type="pre-exercise-code">{{preExerciseCode}}</code>
    <code data-type="sample-code">{{sampleCode}}</code>
    <code data-type="solution">{{solution}}</code>
    <code data-type="sct">{{validation}}</code>
    <div data-type="hint">{{hint}}</div>
  </div>

  <script src="https://cdn.datacamp.com/datacamp-light-latest.min.js"></script>
</div>
