<div id="about-the-project" class="default page">

  <h1>About The Project</h1>
  
  <div class="page-content">
  
  <p>
    The HydraMaze is an open source project that was created with one purpose, give a starting point for those who want to begin studies in Artificial Intelligence but doesn’t know how to do that. Here you’ll find exercises, tutorials, read recommendations and many other resources of information to help you learn about this fascinating topic.
  </p>

  <p>
    Help us spread knowledge, visit our repository and become a contributor.
    <a href="https://github.com/Hydramaze" target="_blank" class="btn btn-social btn-lg btn-github">I want to Contribute! <i class="fa fa-github"></i></a>
  </p>

    
  </div>

</div>
