<div class="step-one row">
  <div class=" col-xs-12 col-sm-6 input-group float-left" ng-repeat="(key, value) in algorithms">
    <h2>{{ key }}</h2>
    <div class="algorithms-options" ng-repeat="(key, value) in value">
      <h4>{{ key }}</h4>
      <div class="algorithm-content" ng-repeat="algorithm in value">
        <input type="radio" name="algorithm-option" value="{{ algorithm.name }}" id="{{ algorithm.name }}">
        <label class="list-group-item" for="{{ algorithm.name }}" title="{{ algorithm.simpleDescription }}">{{ algorithm.name }}<span class="glyphicon glyphicon-question-sign pull-right" ng-click="helpModal($event)" data-toggle="modal" data-target="#modal-{{ algorithm.id }}"></span></label>

        <!-- Modal -->
        <div class="modal fade" id="modal-{{ algorithm.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modal-{{ algorithm.id }}-label">Descrição do algoritmo {{ algorithm.name }}</h4>
              </div>
              <div class="modal-body">
                <p>{{ algorithm.completeDescription }}</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
              </div>
            </div>
          </div>
        </div>
        <!-- End modal -->

      </div>
    </div>
  </div>
</div>
