<div class="step-one row">
  <div class=" col-xs-12 col-sm-6 input-group float-left" ng-repeat="(key, value) in algorithms">
    <h2>{{ key }}</h2>
    <div class="algorithms-options" ng-repeat="(key, value) in value">
      <h4>{{ key }}</h4>
      <div class="" ng-repeat="algorithm in value">
        <input type="radio" name="algorithm-option" value="{{ algorithm.name }}" id="{{ algorithm.name }}">
        <label class="list-group-item" for="{{ algorithm.name }}">{{ algorithm.name }}</label>
      </div>
    </div>
  </div>
</div>
