<multi-step-container id="tutorial" steps="steps" class="simple-prev-next">
    <h2><span class='text-color-hydra-lighter'>Passo {{$getActiveIndex()}}:</span> {{steps[$getActiveIndex()-1].title}}</h2>

    <header class="clearfix">
      <button ng-disabled="$isFirst()" ng-hide="$isFirst()" class="float-left btn btn-default" ng-click="$previousStep()">
          <span class="fa fa-chevron-left"></span>
          <span class="fa fa-chevron-left"></span>
      </button>

      <button ng-disabled="$isLast()" ng-hide="$isLast()" class="float-right btn btn-default" ng-click="$nextStep()">
          <span class="fa fa-chevron-right"></span>
          <span class="fa fa-chevron-right"></span>
      </button>
    </header>

    <main step-container></main>
</multi-step-container>