<div id="laboratory-tpl">
    <div id="header-container" class="structure-block">
        <div class="container-fluid">
            <navigation-block-directive></navigation-block-directive>
            <breadcrumb-directive></breadcrumb-directive>
        </div>
    </div>
    <div id="content-container" class="structure-block">
        <div class="container-fluid without-padding">
            <div class="hidden-xs col-sm-1 col-md-1">
                <div class="orientation-vertical">
                    <main-menu-block-directive></main-menu-block-directive>
                </div>
            </div>
            <div ui-view="laboratorycontent" id="laboratory-content" class="col-xs-12 col-sm-11 col-md-11"></div>
        </div>
    </div>
</div>
